.idea/
elm-stuff/
CLI/elm-stuff/
Demo/elm-stuff/
Demo/assets/main.js
CLI/*.txt
CLI/*.txt*
.DS_Store
Demo/scripts.yaml
Demo/install_elm_packages.sh
Demo/uninstall_elm_packages.sh
Example/
debug/
DemoTOC/assets/main.js

**/.claude/settings.local.json
